html
{ height: 98%;}
h1 {
    text-align: center;
	font-family: Arial Black;
	font-size: 55px;
	font-style: bold;
	color: white;
}

h2{
    text-align: center;
	font-family: Arial; Black;
	color: white;
	/*font-size: 35px;*/
	
}

h3{
	font-family: TimesNewRoman;
	font-size: 16px;
	font-style: normal;
	color: white;
}
body {
	background="background1.4.jpg"
	/*margin:1px;
    border: 1px solid black*/
	padding:1px;
	
}
{ margin: 20px;
  padding: 20px;}
p.font {
    font-style: times new roman;
	font-size: 30px;
	color: white;
}


 .resources {
    border: solid black 2pt;
    background-color:lime;
    float:right;
    width: 220px;
    padding: 20px;
             
 }
.topRight {
    position:absolute;
    top:10px;
    right: 10px;
	text-align:right;
}
hr 
{color:black;
height:1px;
width:100%;

}



/*http://www.opendesigns.org/design/green-wave/*/

ul#menu
{ float: center-left;
  margin:0;
  border-right: 1px solid #FFF;}

ul#menu li
{ padding: 0 0 0 1px;
  list-style: none;
  margin: 1px 0 0 0;
  display: inline;
  background: transparent;}

ul#menu li a
{ font: normal 120% Arial;
  float: center-left;
  letter-spacing: 1px;
  height: 20px;
  padding: 5px 5px 0 5px;
  text-align: center;
  color: #FFF;
  text-decoration: none;
  border-left: 1px solid #FFF;
}

#menubar
{ width: 750px;
  float: center-left;
  height: 15px;
  margin: 0 auto;
  background: transparent;} 
  
  /*from lecture notes*/
  
  /* Landscape phones and down */ 
@media (max-width: 480px) { ... } 
/* Landscape phone to portrait tablet */
 @media (max-width: 767px) { ... } 
/* Portrait tablet to landscape and desktop */ 
@media (min-width: 768px) and (max-width: 979px) { ... }
 /* Large desktop */ 
@media (min-width: 1200px) { ... }

